@import "./styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border outline-none ring-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
  }
  :root {
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 214.3 20.6% 13.3%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 218.8 100% 96.7%;
    --sidebar-accent-foreground: 226.3 88.3% 56.3%;
    --sidebar-border: 216 20% 90.2%;
    --sidebar-ring: 226.3 88.3% 56.3%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
